<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveler</title>
</head>

<body>
    <div class="cover">
        <form class="form">

            <input id="city" type="text" placeholder="Where do you want to go?">
            <label for="start-date">From</label>
            <input id="start-date" type="date" name="from">
            <label for="end-date">To</label>
            <input id="end-date" type="date" name="to">
            <input class="button" id="submit" type="submit" value="Create Trip">
            <input class="button" id="reset" type="reset" value="Reset">
        </form>

    </div>
    <!-- <span id="nameerror" class="error"></span>
    <span id="dateerror" class="error"></span> -->
    <!-- List trips -->
    <section>
        <div class="trip">
            <!-- <button class="delete-btn" title="Delete this trip">X</button> -->
            <div class="notrip">
                <img id='notripi' alt="no trip image">
                <h3>Create A Trip!!</h3>
            </div>
            <div class="trip-data">
                <img id="mainimage">
                <h2 id="cityname"></h2>
                <h4 id="dateoftravel"></h4>
                <p class="trip_length">You will travel for
                    <span class="length"></span>
                    <span class="ldays"></span>
                </p>
                <p id='min-temp'></p>
                <p id='max-temp'></p>
                <p id='desc'></p>
            </div>
        </div>
    </section>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>