<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveler</title>
    <link rel="stylesheet" href="../styles/trip.scss">
    <link rel="stylesheet" href="../styles/base.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


</head>

<body>
    <nav>
        <a href="#" class="logo">Traveler<em>.</em></a>
    </nav>
    <div class="header">
        <h1>Planing Trip To Anywhere in The World?</h1>
   </div>
    <div class="booking-form-box">
        <div class="radio-btn">
           <input checked type="radio" class="btn" name="check"><span>Roundtrip</span>
           <input type="radio" class="btn" name="check"><span>One Way</span>
           <input type="radio" class="btn" name="check"><span>Multi-city</span>
            <input name="check" type="radio" id="city" class="btn"
            placeholder="New York, Paris, etc..." required><span>Search for a trip!</span>
        </div>

        <div class="booking-form">
            <label>Flying To</label>
            <input type="text" class="form-control" placeholder="New York, Paris, etc...">
        <div class="input-grp">
            <label>Depart Date</label>
            <input type="date" class="form-control select-date" placeholder="mm/dd/yyyy">
        </div>
        <div class="input-grp">
            <label for="enddate">Return Date</label>
            <input type="date" class="form-control select-date" id="enddate" placeholder="mm/dd/yyyy" required> 
        </div>
        <div class="input-grp">
            <input id="button" type="button" value="Submit" class="btn btn-primary flight" onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)>
        <span id="error-text" class="error"></span>
        </div>
    </div>
    </div>
    
<div id="my-trips">
    My Trips
</div>

<div id="trips" class="trips"></div>
<script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>