<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveler</title>
</head>

<body>
    <div class="cover">
        <form class="form">

            <input id="city" type="search" placeholder="Where do you want to go?">

            <label for="start-date">From</label>
            <input id="start-date" type="date" name="from">

            <label for="end-date">To</label>
            <input id="end-date" type="date" name="to">

            <input id="save-button" type="submit" value="Search">
            <input id="reset" type="reset" value="Reset">
           </form>

    </div>
    <img src="../media/sky.jpg" class="img">
    <span id="error-text" class="error"></span>
<!-- List trips -->
    <div id="my-trips">
        My Trips
    </div>
    <div id="trips" class="trips"></div>
<!-- create Todos -->
   
    <h1><span class="title">Todo</span>List</h1>
    <div class="inputDiv">
    	   <input type="text" class="input" placeholder="What Do You Want to Do...">
    	   <button class="add"></button>
    </div>
    <div class="container">
    </div>
   

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>