html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    background-image: url('../media/sky.jpg');
}

a {
    color: white;
}

.cover {
    height: 100vh;
    width: 100%;
}


// .img {
//     height: 100%;
//     -webkit-filter: blur(5px);
//     filter: blur(5px);
//     position: absolute;
//     top: 0;
//     z-index: -1;
// }

.flex-form>*:not([type="date"]) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.form input[type="submit"] {
    background:#2376ae;
    border-top: 1px solid #2376ae;
    border-bottom: 1px solid #2376ae;
    color: white;
}

.form input[type="reset"] {
    background: #FF5A5F; 
    border-top: 1px solid #FF5A5F;
    border-bottom: 1px solid #FF5A5F;
    color: white;
}
.form {
    z-index: 10;
    position: relative;
}

.form>* {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 1.8em;
    font-size: 14px;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.form>*:last-child {
    border-right: 0;
}

.cover {
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.form {
    z-index: 10;
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
}

input[type="search"] {
    flex-basis: 50%;
}

input[type="reset"] {
    flex-basis: 10%;
}