span {
    width: max-content;
    margin-top: 10px;
    margin-left: 12px;
    color: red;
}

#my-trips {
    font-size: 2.5em;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
}

.my-trips {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}