.trip {
    border-radius: 8px;
    padding: 20px;
    width: min-content;
    background-color: white;
    margin-bottom: 20px;
    opacity: 0;
    top: 0;
    margin: 1rem;
}

.form>*:not([type="date"]) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.form input[type="submit"] {
    background: #2376ae;
    border-top: 1px solid #2376ae;
    border-bottom: 1px solid #2376ae;
    color: white;
}

.button:focus,
.button:hover {
    background-color: #2373be;
    box-shadow: 0 0 0 0.1875rem white,
        0 0 0 0.375rem #6b6140;
}

.button:active {
    background-color: #124075;
    box-shadow: 0 0 0 0.1875rem #866270,
        0 0 0 0.375rem #3647e29f;
    transition-duration: 75ms;
}

.form input[type="reset"] {
    background: #FF5A5F;
    border-top: 1px solid #FF5A5F;
    border-bottom: 1px solid #FF5A5F;
    color: white;
}

.form {
    z-index: 10;
    position: relative;
}

.form>* {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 1.8em;
    font-size: 14px;
    border-radius: 0;
    outline: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.form>*:last-child {
    border-right: 0;
}

.cover {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form {
    z-index: 10;
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
}

input[type="text"] {
    flex-basis: 25%;
}

input[type="submit"] {
    flex-basis: 10%;
}

input[type="reset"] {
    flex-basis: 10%;
}

#mainimage {
    display: none;
    width: 50%;
    margin: auto auto;
    height: 200px;
    border: 2px solid blue;
}

#cityname {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

#dateoftravel {
    text-align: center;
}

#min-temp {
    text-align: center;
}

#max-temp {
    text-align: center;
}

#desc {
    text-align: center;
}

// .delete-btn{
//     background: #fff;
//     font-weight: bold;
//     height:30px;
//     width:30px;
//     border-radius: 100%;
//     cursor: pointer;
//     position:absolute;
//     top:10px;
//     right:10px;
//     border:1.4px rgb(231, 231, 231) solid;

//     &:hover{
//         color:red;
//         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//     }

// }

.notrip {
    display: block;
    margin: auto auto;
    text-align: center;
    padding: 4rem;
}